.pull-right {
    float: right;
}

.text-right{
    text-align: right;
}

.nav-item .active {
    font-weight: bold;
    color: #007bff;
}

h5{
    font-weight: bold;
    font-size: 1.1rem;
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.1rem;
    color: #007bff;
}
.navbar-brand:hover{
    font-weight: bold;
    font-size: 1.1rem;
    color: #0038cc;
}

.hidden{
    display: none;
}
.card-header{
    font-weight: bold;
    font-size: 1.0rem;
}   

.header{
    font-weight: bold;
    font-size: 1.2rem;   
    margin-bottom:8px;
    background:#fefefe;
    box-shadow: 0 0 10px #eee;
    padding:8px 10px;
}

.reading-unit{
    font-size: 0.8rem;
    color: #777;
    display:block;
}


#analysis-content{
    line-height: 1.6;
    color:#000;
}
#analysis-content li{
    margin-bottom: 10px;
}